.main_page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;

    overflow-x: hidden;
    // display: grid;
    // grid-template-columns: repeat(5,1fr);
    // grid-gap: 10px;
}